<html>
<body>
<br>
{% block navbar %}
Flask Simple Sage Notebook Demo
<hr>
<a href="/submit">submit input</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/submit_work">submit output</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/db/cells">cells</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/db/workers">workers</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/db/sessions">sessions</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/workers/work">work</a>&nbsp;&nbsp;&nbsp;&nbsp;
<a href="/workers/submit">submit_work</a>
<br>
<hr>
{% endblock %}
{% block content%}
{% endblock %}
</body>
</html>
