<!doctype html>
<html>
  <head>
    <title>Sage Command Line</title>
    <link rel="stylesheet" href="/static/codemirror/lib/codemirror.css">
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.css">
    <script src="static/codemirror/lib/codemirror.js"></script>
    <script src="static/codemirror/mode/python/python.js"></script>
    <script src="static/jquery-1.7.1.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/_ah/channel/jsapi"></script>
    <script type="text/javascript" src="/static/index.js"></script>
<style type="text/css">
      #output .CodeMirror {
        border: 2px solid #aaa;
      }
      #output .CodeMirror-scroll {
        height: 300px;
        overflow-y: none;
        overflow-x: auto;
        width: 100%;
      }

      #input .CodeMirror {
        border: 2px solid #33d;
      }
      #input .CodeMirror-scroll {
        height: auto;
        overflow-y: none;
        overflow-x: auto;
        width: 100%;
      }

      #container {
        width: 900px;
        margin: auto;
      }
</style>
  </head>
  <body>

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">Sage Command Line Demo</a>
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/submit">Debug</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    <div id='container'>
<button id='wrap-btn' class="btn" data-toggle="button">Wrap Lines</button>
<div id="output">
<textarea id="output2">
{% for cell in q %}{{ cell.input }}
{{ cell.output }}
{% endfor %}</textarea>
</div>
<hr>
<div id="input">
<textarea id="input2">2 + 2</textarea>
</div>
<hr>
<footer>
<p>The Sage Project, 2012</p>
</footer>
</div>
<script>
var token = '{{ token }}';
</script>
</body>
</html>
